<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>南大图书馆</title>

<link type="text/css" href="../static/css/style1.css" th:href ="@{css/style1.css}" rel="stylesheet" />

<script  th:src="@{js/jquery.min.js}" src="../static/js/jquery.min.js"  ></script>
<script type="text/javascript" src="../static/js/library2tools.js" th:src="@{js/library2tools.js}"></script>
<script type="text/javascript" src="../static/js/library2js.js" th:src="@{js/library2js.js}"></script>

</head>
<body>

<div class="wrap" id="wrap">
	<ul class="content"></ul>
	<a href="javascript:;" class="prev">&#60;</a>
	<a href="javascript:;" class="next">&#62;</a>
</div>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>图为南京大学图书馆原貌 </p>
<p>来源：<a href="http://image.baidu.com/search/index?tn=baiduimage&ps=1&ct=201326592&lm=-1&cl=2&nc=1&ie=utf-8&word=%E5%8D%97%E4%BA%AC%E5%A4%A7%E5%AD%A6%E5%9B%BE%E4%B9%A6%E9%A6%86" target="_blank">百度图片</a></p>
</div>
</body>
</html>