<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>华盛顿国会图书馆</title>
<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>

</head>
<body>

 <div id="flash">
     <div id="prev"></div>
     <div id="next"></div>
	 <ul id="play">
	 	<li style="display: block;"><img src="../static/img/1.jpg" th:src="@{/img/1.jpg}" alt="" /></li>
	 	<li><img src="../static/img/2.jpg" th:src="@{/img/2.jpg}" alt="" /></li>
	 	<li><img src="../static/img/3.jpg" th:src="@{/img/3.jpg}" alt="" /></li>
	 	<li><img src="../static/img/4.jpg" th:src="@{/img/4.jpg}" alt="" /></li>
	 	<li><img src="../static/img/5.jpg" th:src="@{/img/5.jpg}" alt="" /></li>
	 	<li><img src="../static/img/6.jpg" th:src="@{/img/6.jpg}" alt="" /></li>
	 	<li><img src="../static/img/7.jpg" th:src="@{/img/7.jpg}" alt="" /></li>
	 	<li><img src="../static/img/8.jpg" th:src="@{/img/8.jpg}" alt="" /></li>
	 </ul>
	 <ul id="button">
	 	<li><div style="background: #A10000;"></div></li>
	 	<li><div></div></li>
	 	<li><div></div></li>
	 	<li><div></div></li>
	 	<li><div></div></li>
	 	<li><div></div></li>
	 	<li><div></div></li>
	 	<li><div></div></li>
	 </ul>
 </div>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>图中是美国华盛顿国会图书馆的全貌</p>
<p>来源：<a href="http://image.baidu.com/search/index?tn=baiduimage&ps=1&ct=201326592&lm=-1&cl=2&nc=1&ie=utf-8&word=%E7%BE%8E%E5%9B%BD%E5%8D%8E%E7%9B%9B%E9%A1%BF%E5%9B%BD%E4%BC%9A%E5%9B%BE%E4%B9%A6%E9%A6%86" target="_blank">百度图片</a></p>
</div>
</body>
</html>