<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的收藏</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="../static/css/templatemo_style.css" th:href="@{css/templatemo_style.css}" rel="stylesheet" type="text/css" />
    <script  th:src="@{js/jquery.min.js}" src="../static/js/jquery.min.js"  ></script>
    <script language="javascript" type="text/javascript">
        function clearText(field)
        {
            if (field.defaultValue === field.value) field.value = '';
            else if (field.value === '') field.value = field.defaultValue;

        }
    </script>

</head>
<body >
<div id="templatemo_container">
    <div id="templatemo_banner">
        <!--  Free CSS Templates @ www.TemplateMo.com  -->
        <div id="welcome">
            <p th:text="'欢迎来到图书馆!'+${username}">欢迎来到图书馆! </p>
        </div>

    </div> <!-- end of banner -->
    <div id="logout">
        <a th:href="@{/contact}" target="_blank">联系我们</a>&nbsp;
        <a th:href="@{/messageBoard}" target="_blank">留言板</a>&nbsp;
        <a th:href="@{/personalInfo}" target="_blank">个人信息</a>&nbsp;
        <a th:href="@{/log(username=${username})}">注销</a>
    </div>

    <div id="templatemo_menu">
        <ul>
            <li><a th:href="@{/menu(username=${username})}">主页</a></li>
            <li><a th:href="@{/userlist(username=${username})}" >图书大全</a></li>
            <li><a href="/article">读者文摘</a></li>
            <li><a href="#" >在线服务</a></li>
            <li><a th:href="@{/stamp(username=${username})}" class="current">我的收藏</a></li>
            <li><a href="#" class="last">近期活动</a></li>
        </ul>
    </div> <!-- end of menu -->

    <div id="templatemo_content_top">

        <div class="section_w335 fl margin_right_40" id="div1"  th:if="${num} ge '1'">

            <div class="header_01" th:text="${book1.getName()}">
                <a>书名1</a></div>
            <div class="image_wrapper">
                <img src="../static/img/templatemo_image_01.jpg" th:src="@{img/templatemo_image_01.jpg}" alt="image" />
            </div>

            <p th:text="${book1.getIntro1()}"></p>
             <p th:text="${book1.getIntro2()}"></p>
            <div class="download">
                <a th:href="@{/download(id=${book1.getId()})}">下载</a>&nbsp;&nbsp;<a th:href="@{/summary(id=${book1.getId()})}">详情</a><br>
                <a th:href="@{/stampBook/cancel(index=${book1.getIndexing()})}">取消收藏</a><br><a th:href="@{/stampBook/read(index=${book1.getIndexing()})}">在线阅览</a>
            </div>
        </div>

        <div class="section_w335 fl" id="div2" th:if="${num} ge '2'">

            <div class="header_01" th:text="${book2.getName()}">
                <a>书名2</a></div>
            <div class="image_wrapper">
                <img src="../static/img/templatemo_image_02.jpg" th:src="@{img/templatemo_image_02.jpg}" alt="image" />
            </div>

            <p th:text="${book2.getIntro1()}"></p>
            <p th:text="${book2.getIntro2()}"></p>
            <div class="download">
                <a th:href="@{/download(id=${book2.getId()})}">下载</a>&nbsp;&nbsp;<a th:href="@{/summary(id=${book2.getId()})}">详情</a><br>
                <a th:href="@{/stampBook/cancel(index=${book2.getIndexing()})}">取消收藏</a><br><a th:href="@{/stampBook/read(index=${book2.getIndexing()})}">在线阅览</a>
            </div>
        </div>

        <div class="margin_bottom_40" th:if="${num} ge '3'"></div>

        <div class="section_w335 fl margin_right_40" id="div3" th:if="${num} ge '3'">

            <div class="header_01" th:text="${book3.getName()}">
                <a>书名3</a></div>
            <div class="image_wrapper">
                <img src="../static/img/templatemo_image_03.jpg"  th:src="@{img/templatemo_image_03.jpg}" alt="image" />
            </div>

            <p th:text="${book3.getIntro1()}"></p>
            <p th:text="${book3.getIntro2()}"></p>
            <div class="download">
                <a th:href="@{/download(id=${book3.getId()})}">下载</a>&nbsp;&nbsp;<a th:href="@{/summary(id=${book3.getId()})}">详情</a><br>
                <a th:href="@{/stampBook/cancel(index=${book3.getIndexing()})}">取消收藏</a><br> <a th:href="@{/stampBook/read(index=${book3.getIndexing()})}">在线阅览</a>
            </div>
        </div>

        <div class="section_w335 fl" id="div4" th:if="${num} ge '4'">

            <div class="header_01" th:text="${book4.getName()}">
                <a>书名4</a>
            </div>
            <div class="image_wrapper">
                <img src="../static/img/templatemo_image_04.jpg" th:src="@{img/templatemo_image_04.jpg}" alt="image" />
            </div>

            <p th:text="${book4.getIntro1()}"></p>
            <p th:text="${book4.getIntro2()}"></p>
            <div class="download">
                <a th:href="@{/download(id=${book4.getId()})}">下载</a>&nbsp;&nbsp;<a th:href="@{/summary(id=${book4.getId()})}">详情</a><br>
                <a th:href="@{/stampBook/cancel(index=${book4.getIndexing()})}">取消收藏</a><br><a th:href="@{/stampBook/read(index=${book4.getIndexing()})}">在线阅览</a>
            </div>
        </div>
        <div class="margin_bottom_40" th:if="${num} ge '5'"></div>

        <div class="section_w335 fl margin_right_40" id="div5" th:if="${num} ge '5'">

            <div class="header_01" th:text="${book5.getName()}">
                <a >书名5</a>
            </div>
            <div class="image_wrapper">
                <img src="../static/img/templatemo_image_01.jpg" th:src="@{img/templatemo_image_01.jpg}" alt="image" />
            </div>

            <p th:text="${book5.getIntro1()}"></p>
            <p th:text="${book5.getIntro2()}"></p>
            <div class="download">
                <a th:href="@{/download(id=${book5.getId()})}">下载</a>&nbsp;&nbsp;<a th:href="@{/summary(id=${book5.getId()})}">详情</a><br>
                <a th:href="@{/stampBook/cancel(index=${book5.getIndexing()})}">取消收藏</a><br><a th:href="@{/stampBook/read(index=${book5.getIndexing()})}">在线阅览</a>
            </div>
        </div>

        <div class="section_w335 fl" id="div6" th:if="${num} ge '6'">

            <div class="header_01" th:text="${book6.getName()}">
                <a >书名6</a>
            </div>
            <div class="image_wrapper">
                <img src="../static/img/templatemo_image_01.jpg" th:src="@{img/templatemo_image_01.jpg}" alt="image" />
            </div>
            <p th:text="${book6.getIntro1()}"></p>
            <p th:text="${book6.getIntro2()}"></p>
            <div class="download">
                <a th:href="@{/download(id=${book6.getId()})}">下载</a>&nbsp;&nbsp;<a th:href="@{/summary(id=${book6.getId()})}">详情</a><br>
                <a th:href="@{/stampBook/cancel(index=${book6.getIndexing()})}">取消收藏</a><br><a th:href="@{/stampBook/read(index=${book6.getIndexing()})}">在线阅览</a>
            </div>
        </div>
        <div class="margin_bottom_20"></div>


        <div class="margin_bottom_20 b_bottom"></div>


        <div class="cleaner"></div>
    </div> <!-- end of content top -->

    <div id="templatmeo_content_bottom">



        <div class="margin_bottom_30"></div>

        <div id="templatemo_footer">

            <ul class="footer_list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Services</a></li>
                <li class="last"><a href="#">Contact</a></li>
            </ul>

            <div class="margin_bottom_10"></div>

            Copyright © 2024 <a href="#">DY Pro Studio</a> <!-- Credit: www.templatemo.com -->

            <div class="margin_bottom_20"></div>

            <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
            <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>

        </div>

        <div class="cleaner"></div>
    </div> <!-- end of content bottom -->
</div> <!-- end of container -->
<!--  Free Website Templates @ TemplateMo.com  -->
<!-- templatemo 114 history -->
<!--
History Template
http://www.templatemo.com/preview/templatemo_114_history
-->
</body>
</html>